<br><br>
<div fxLayout fxLayoutAlign="start center"  fxLayoutGap="20px">
    <div fxFlex="100" fxLayoutAlign="center center">
        <div fxLayout fxLayoutAlign="center center">
            <div fxFlex="100">
                <div fxLayout fxLayoutAlign="center center">
                    <div fxFlex="100">
                        <div fxLayout fxLayoutAlign="center center">
                            <p class="courseHeading">
                             Payment Successful!
                            </p>
                        </div>
                    </div>
                </div>
                <div fxLayout fxLayoutAlign="center center">
                    <div fxFlex="100">
                        <div fxLayout fxLayoutAlign="center center">
                            <h5 class="courseHeading2">
                             Your payment has been successful. We are redirecting you on APT APP.
                            </h5>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
        <div fxLayout fxLayoutAlign="center center">
            <div fxFlex="25" fxLayoutAlign="center center">
                <img [src]="imageUrl + img" class="classImage" alt="home">
                <br>
                <br>
                <br>
             </div>
         </div>
         <div fxLayout fxLayoutAlign="center center">
            <div fxFlex="25" fxLayoutAlign="center center">
                <button mat-raised-button class="whiteText classButton" color="primary" (onclick) = "CourseScreen()" [routerLink]="['/course']"><b> Explore More </b> </button>
                <br>
                <br>
                <br>
             </div>
         </div>
         <br>
         <br>

<br><br>