.courseHeading{
  position: absolute;
  width: 439px;
  height: 49px;
  left: 530px;
  top: 50px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  
  
  color: #000000;
  }

  .courseHeading2{
     position: absolute;
    width: 893px;
    height: 28px;
    left: 240px;
    top: 110px;
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    /* identical to box height, or 112% */


    color: #454545;
  }
  .whiteText{
    color: #ffffff;
    //margin-left: 25px;
  }
  

  .classImage{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 540px;
    top: 200px;
  }

  .classButton{
    position: absolute;
    width: 200px;
    height: 35px;
    left: 540px;
    top: 450px;
  }

  .MainDiv{
    margin-left: 3%;
    margin-right: 3%;
  }

  @media only screen and (max-width:600px){
    .classImage{
       position: absolute;
      width: 200px;
      height: 200px;
      left: 107px;
      top: 200px;
    }

    .classButton{
      position: absolute;
     width: 200px;
     height: 35px;
     left: 107px;
     top: 450px;
   }

    .courseHeading2{
       position: absolute;
      width: 374px;
      height: 40px;
      left: 20px;
      top: 90px;
  
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */
  
      text-align: center;
  
      color: #454545;
    }
    
    .courseHeading{
       position: absolute;
      width: 216px;
      height: 24px;
      left: 100px;
      top: 50px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-transform: capitalize;

      color: #212121;
    }

}