.thanks{
    position: absolute;
width: 529px;
height: 148px;
left: 443px;
top: 145px;

font-family: 'kurale';
font-style: normal;
font-weight: 900;
font-size: 65px;
line-height: 148px;
/* identical to box height */

// text-transform: uppercase;

color: #0C5C8F;
}