.MainHeding{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;
}

.formWith{
  width: 100%;
}

.Blankheight{
  height: 300px;
}

.Noresult{
  font-size: 25px;
}

.blogsImage{
   width: 100%;
}

 .readMore{
    font-size: 18px;
    color: #E40000;
  }

  .IconMore{
    font-size: 25px;
  }
