.imageHeight{
    width: 100%;
}

.triangle-left {
	width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 12px solid #bdbdbd;
    border-bottom: 12px solid transparent;
    margin-top: 20px;
    top: 10%
}

.angular-with-newlines {
  white-space: pre-wrap;
}

.width{
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    .imageHeight{
        width: 100%;
    }   
}

@media only screen and (max-width: 320px) {
    .imageHeight{
        width: 95%;
    }   
}

::ng-deep .mat-form-field .mat-input-element {
    color: slategray;
  }
  ::ng-deep .mat-form-field .mat-form-field-label {
    color: slategray !important;
  }
  ::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: slategray;
  }
  ::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: slategray;
  }
  ::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: slategray;
  }
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #0c5c8f !important;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #0c5c8f;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
    color: #0c5c8f;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color:red;
  }

  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
    color: #e40000;
  }
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #e40000 !important;
  }
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
    color: #e40000;
  }
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #e40000;
  }